*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#header{
    display: inline-block;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 4px #0d3f0d;
    height: auto;
    background: linear-gradient(180deg, #000000, #242424);
}
#header ul{
    display: inline-block;
    margin: 15px 0px;
    padding-right: 15px;
    width: 100%;
    text-decoration: none;
}
#header ul li a{
    color: white;
}
#header ul li{
    display: inline;
    color: white;
    font-size: 17.5px;
    border-bottom: 1px solid navajowhite;
    margin-left: 30px;
}
.front-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("watering-1822642_1920.jpg");
    background-size: cover;
    background-position: center;
}
.front-page .back-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 27, 27, 0.438);
    width: 100%;
    height: 500px;
}
.front-page h3{
    display: inline-block;
    color: white; 
    font-size: 40px;
}
.section-1{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 40px;
}
.section-1 .imgs{
    display: inline-block;
    margin-left: 30px;
    width: 40%;
}
.section-1 .imgs img{
    width: 40%;
    height: auto;
}
.section-1 img:nth-child(2){
    margin-left: 185px;
}
.section-1 img:nth-child(3){
    margin-left: 368px;
}
.section-1 .img-txt{
    display: inline-block;
    position: relative;
    width: 30%;
    left: 145px;
    top: 120px;
}
.section-1 .img-txt h2{
    display: inline-block;
    width: 89px;
    border-bottom: 3px solid darkblue;
}
.section-1 .img-txt p{
    margin-top: 20px;
    height: 65px;
    border-bottom: 3px solid darkblue;
}
.section-2{
    display: flex;
    width: 100%;
    margin-top: 120px;
    background-image: url("grapes-690230_1920.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.section-2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0);
    height: 500px;
    width: 100%;
    transition: all 300ms ease-in 120ms;
}
.section-2 div h2{
    font-size: 90px;
}
.section-2 div:hover{
    color: white;
    background-color: rgba(36, 34, 34, 0.308);
}